@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200&family=Fjalla+One&family=Yeseva+One&display=swap');

.description {
    display: inline-block;
    line-height: 1.5em;
    vertical-align: middle;

}   

.about-us-container  {
    margin: 0;
    font-family: helvetica; 
    display: grid;
    grid-template-columns: 1fr;
    color: gray;
    font-weight: 300;   
    align-items: center; 
    justify-items: center;
    background-color: #121212;
    font-size: calc(12px + .5vw);
    

}  

.main-heading {
    font-family: 'Yeseva One', sans-serif;
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.bios {
    width: 33%;
} 

.names {
    text-align: center;
} 

.bio-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.developer-pics{
    width: auto;
    opacity: 90%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
} 


 /* grid-gap: 5px; */
    /* grid-template-rows: .20fr 1fr .15fr; */
    /* background-color: peachpuff; */