/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.hide {
  display: none;
}

main-game-components {
  /* width: 100vw; */
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  /* border: 3px solid purple; */
}
.game-buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* border: 5px solid orange; */
  align-items: center;
  justify-content: center;
} 
.stage-components {
  /* border: 3px solid yellowgreen; */
  margin-right: 5%;
} 
/* .stage-header {
  border: 1px solid blue;
} */
.stage-header p {
  text-align: center;
  font-size: 40px;
} 
/* .window-comp{
  height: calc(100vh - 300px);
  width: calc(100vw - 400px);
}  */
.Main-container{
  font-family: 'Lucida Sans';
  display: grid;
  grid-template-columns: .5fr 1fr;
  /* height: calc(100vh - 300px);
  width: calc(100vw - 400px);  */
  
}

.Left-comp{
  display: flex;
  height: 100%;
  flex-direction: column;
  /* border: 2px solid green; */
  justify-content: center;
  align-items: center;
  /* background-color: yellow;  */
  
}

.Right-comp{
  /* border: 2px solid orange; */
  width: 100%;
  
}

.stage-header{
  border-top: 2px;
  text-align: center;
  padding: 20px 0 0 0;
  margin-bottom: 0;
  
}

.stage-msg{
  background-color: blue;
  color: white;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  border-top-left-radius: 3px;
  /* border-top: 2px solid purple;  */
  text-align: center;
  align-self: center;
  align-items: center; 
}

.stage-container {
  margin: 30px 20px 20px 20px;
  width: 100vw;
  height: 400px; 
  margin: 10% 10% 10% 10% auto; 
  box-shadow: 1px 2px 9px black;
  background: #E6E6E6;
  /* border: 2px solid green; */
  border-top: none;
  border-radius: 3px;
  /* height: calc(100vh - 300px);
  width: calc(100vw - 400px);  */
}
.stage-container {
  
  height: calc(100vh - 300px);
  width: calc(100vw - 400px);
} 

.header{
  border: 2px solid black;
  display: flex;
}


